{% extends 'base.html.twig' %}

{% block body %}

{{title}}: Information
<br><br><br><br><br>
Here are your results: 
<br><br><br>
{{park}}
<br><br><br><br><br>

Here's the link to the homepage:
<br><br>
<a href='/' target="_noblank">Homepage</a>
{% endblock %}