{% extends 'base.html.twig' %}


{% block body %}

<h1 class='nat-information'>National Parks Information</h1>
<div class='container-info'>
<h2 class='h2-info'>Here are your results: </h2>
<br>

{% for p in park %}
    <h5 style="color:crimson;">{{p.nombre}}</h5> <h5 style="color:skyblue;">{{p.ecosistema}}</h5>
{% endfor %}

<br><br>

Here's the link to the homepage:
<a href='{{ path("app_homepage")}}'>Homepage</a>
</div>
</div>

{% endblock %}